body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* font-family: 'Notable', sans-serif; */
    font-family: 'Orbitron', sans-serif;


}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.top-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 200px;
    font-family: 'Orbitron', sans-serif;

}
.score-total {
    font-size: 50px;
    margin: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    display: none;
}

.team-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 30%;
    /* background-image: url('./Blank\ plate.png'); */
    font-size: large;
}

.score-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.score-label {
    width: 150px;
}

.score-points {
    width: 50px;
}
.score-count {
    width: 30px;
}

.score-got {
    font-style: italic;
}

.players-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    font-size: 35px;
}

.kill-counter {
    display: flex;
    flex-direction: row;
}
.rev-counter {
    display: flex;
    flex-direction: row;
}

.team-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;

}
.team-score-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#red-score-total {
    color: red;
}

#blue-score-total {
    color: blue;
}

.red-each-score {
    color: red;
    margin-left: 5px;
}

.blue-each-score {
    color: blue;
    margin-left: 5px;
}
.each-teamScore {
    font-size: 20px;
}